

.Titul{
	font-size:30px;
	background: #1b4b75;
	color: white;
	width:100%;
	height:10%;
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: white;
	padding: 18px;
    text-align: center;
    margin: -25px -8px 0;
    font-style:italic;
}

.Create {
	color:black;
	text-decoration:none;
	margin:-16px 37% 0 -48%;
}

.btn-6d {
	border: 2px solid #226fbe;
    margin: 15px 0px 0px 39%;
    font-size: 20px;
    border-radius:5px;
}

.Update,
.Delete {
    font-size: 15px;
    border-radius:7px;
    text-decoration: none;	
}

.Update a,
.Delete a,
.btn-6d a {
	text-decoration: none;
}

h1{
	font-size: 25px;
}

table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
border-collapse: collapse;
text-align: center;
margin: 7% 0 0 39%;
}

th, td:first-child {
background: #5db4ff;
color: white;
padding: 15px 14px;
border-radius: 10px 23px;
}
th, td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: white;
}
td {
background: #d3e6f7;
border-radius: 6px;
padding: 0 20px;
}
th:first-child, td:first-child {
text-align: -webkit-center;
}

